*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/* nav logo format*/
nav .logo{
    width: 100px;
}
/*homepage title*/
.content{
    text-align: center;
}
.content h1{
    font-size: 100px;
    color: azure;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px azure;
    color: transparent;
}
/* window styles */
.content, .messageBox{
    color: azure;
}
/* get started button*/
.content a{
    text-decoration: none;
    display: inline-block;
    color: azure  !important;
    font-size: 24px;
    border: 2px solid azure;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: background-color 0.5s;
}
.content a:hover {
    background-color: rgba(32, 33, 36, 0.75) !important;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    -moz-transition: 1s opacity;
    -o-transition: 1s opacity;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

/* placeholders to keep boxes in center of screen*/
#placeholderIndex {
    height: 280px;
}
#placeholderGrid {
    height: 200px;
}
.grid{
    color: white;
}
.welcomeMessage {
    font-weight: 500;
    text-align: center;
}
.messageBox{
    background-color: rgba(32, 33, 36, 0.60);
    border: 3px solid azure;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
}
.inputBoxSmall {
    width: 75px;
}
.errorMessage {
    color: red;
    font-weight: 700;
}
.button {
    background-color: rgba(32, 33, 36, 0);
    border-radius: 20px;
    border: 2px solid azure;
    padding: 10px 50px 10px 50px;
    color: white;
    font-weight: 700;
}

.button:hover {
    background-color: rgba(32, 33, 36, 0.8);
}
.button.speed {
    display: flex;
    flex-direction: row;
}
.errorBox {
    border:2px solid red;
}
label {
    padding-bottom: 5px;
}
tr {
    padding: 5px;
    border: 2px solid white;
}
td {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    background-color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

/* Styles for the paint drop */
.paint-container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}

/*animation needs this css*/
[class^="cell-"]{
    position: relative;
    width: 20px;
    height: 20px;
    clip-path: circle(30%);
}

.animationText {
    opacity: 0;
}

.animationContent {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
}

.speed-items {
    display: flex;
    flex-direction: row;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#finishExpOneMessage {
    color: white;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#graphOverlay{
    background-color: rgba(32, 33, 36, 0.80);
    border: 3px solid azure;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
}
#graphHide{
    background-color: rgba(32, 33, 36, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 600px;
    border-radius: 20px;
    color: white;
}

#graphHide:hover {
    background-color: rgba(32, 33, 36, 1);
}

#closeTable{
    background-color: rgba(32, 33, 36, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 600px;
    border-radius: 20px;
    color: white;
}

#closeTable:hover {
    background-color: rgba(32, 33, 36, 1);
}

#progressBar {
    width: 100%;
}