*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/* nav logo format*/
nav .logo{
    width: 100px;
}
/*homepage title*/
.content{
    text-align: center;
}
.content h1{
    font-size: 100px;
    color: azure;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px azure;
    color: transparent;
}
/* get started button*/
.content a{
    text-decoration: none;
    display: inline-block;
    color: azure  !important;
    font-size: 24px;
    border: 2px solid azure;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.content a:hover {
    color: black !important;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    -moz-transition: 1s opacity;
    -o-transition: 1s opacity;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

/* placeholders to keep boxes in center of screen*/
#placeholderIndex {
    height: 280px;
}
#placeholderGrid {
    height: 200px;
}
.grid{
    color: white;
}
.welcomeMessage {
    font-weight: 500;
    text-align: center;
}
.messageBox{
    background-color: #80F6FF;
    border: 3px solid black;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
}
.inputBoxSmall {
    width: 75px;
}
.errorMessage {
    color: red;
    font-weight: 700;
}
.button {
    background-color: grey;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px 50px 10px 50px;
    color: white;
    font-weight: 700;
}
.errorBox {
    border:2px solid red;
}
label {
    padding-bottom: 5px;
}
tr {
    padding: 5px;
    border: 2px solid white;
}
td {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    background-color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

/* Styles for the paint drop */
.paint-container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}

/*animation needs this css*/
[class^="cell-"]{
    position: relative;
    width: 20px;
    height: 20px;
    clip-path: circle(30%);
}

.animationText {
    opacity: 0;
}

.animationContent {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
}

